{% extends 'base.html.twig' %}

{% block title %}Logowanie{% endblock %}

{% block body %}
</br>
<div class="example-wrapper" style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  ">
<form method="post">
    <h1 class="h3 mb-3 font-weight-normal">Panel logowania</h1>
    <label for="inputUsername">Użytkownik</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Hasło</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </br>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-primary btn-block mb-4" type="submit">
        Zaloguj się
    </button>
</form>
</div>


{% endblock %}
