{% extends 'base.html.twig' %}

{% block title %}Hello UserPanelController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>
    {% for element in warehouses %}
    {{element.name}}
    {% endfor %} 
    {{form(form)}}
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/waldek/Pulpit/sfprojects/Warehouse_app/src/Controller/UserPanelController.php'|file_link(0) }}">src/Controller/UserPanelController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/waldek/Pulpit/sfprojects/Warehouse_app/templates/user_panel/index.html.twig'|file_link(0) }}">templates/user_panel/index.html.twig</a></code></li>
    </ul>
</div>


<script>
const selectElement = document.querySelector('select[name="receipt_product_form[product]"]');
selectElement.addEventListener('change', (event) => {
  document.getElementById("receipt_product_form_unit").selectedIndex = event.target.selectedIndex;
});
</script>
{% endblock %}
