{% extends 'base.html.twig' %}

{% block title %}Szczegóły{% endblock %}

{% block body %}


<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><b></b></th>
    </tr>
  </thead>
  <tbody>
   {% for element in files %}
    <tr>
      <td><a href="/{{element.filename}}">Faktura</a></td>
    </tr>
   {% endfor %} 
  </tbody>
</table>
</div>
<div>
</div>


{% endblock %}
