{% extends 'base.html.twig' %}

{% block title %}Hello UserPanelController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
       {{form(form)}}

    </ul>
</div>

<script>
//const selectElement = document.querySelector('select[name="receipt_product_form[product]"]');
//selectElement.addEventListener('change', (event) => {
//  document.getElementById("receipt_product_form_unit").selectedIndex = event.target.selectedIndex;
//});
</script>

{% endblock %}
