{% extends 'base.html.twig' %}

{% block title %}Panel administratora{% endblock %}

{% block body %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/admin/user/add">Dodaj użytkownika</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/warehouse/add">Dodaj magazyn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/product/add">Dodaj produkt</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/user">Użytkownicy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/warehouse">Magazyny</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/panel" tabindex="-1" aria-disabled="true">Panel użytkownika</a>
  </li>
</ul>
{% endblock %}
