{% extends 'base.html.twig' %}

{% block title %}Edycja użytkownika{% endblock %}

{% block body %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/admin/user/add">Dodaj użytkownika</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/warehouse/add">Dodaj magazyn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/product/add">Dodaj produkt</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/user">Użytkownicy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/warehouse">Magazyny</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/panel" tabindex="-1" aria-disabled="true">Panel użytkownika</a>
  </li>
</ul>

<div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><b>{{user.username}} </b></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for element in warehouses %}
    <tr>
      <td>{{element.name}}</td>
      <td style="width: 200px"><a href="{{user.id}}/{{element.id}}">Dodaj magazyn</a></td>
    </tr>
   {% endfor %} 
  </tbody>
</table>
</div>    

{% endblock %}
